@tailwind base;
@tailwind components;
@tailwind utilities;


.products::-webkit-scrollbar{
    display: none;
}

.catagories::-webkit-scrollbar{
    display: none;
}
.popularcontainer::-webkit-scrollbar{
    display: none;
}
/* .new::before{
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    background: black;
    border-radius: 50%;
    transition: .2s ease-in-out;
    z-index: -1;
}
.new:hover::before{
    opacity: 1;
} */
